<%= form_for @new_user do |f| %>
	<div class="row" align="center">
		<div class="small-offset-2 small-1 columns" style="top: 10px; font-size: 20px;">分數</div>
		<div class="small-1 columns"><%= f.text_field :score, :readonly => "readonly", :class => "score_input", :style => "width: 100%;" %></div>
		<div class="small-1 columns" style="top: 10px; font-size: 20px;">姓名</div>
		<div class="small-2 columns"><%= f.text_field :name, :style => "width: 100%;" %></div>
		<div class="small-2 columns"><%= f.submit "加入排名", class: "tiny button" %></div>
		<div class="small-2 columns"></div>
	</div>
<% end %>