
<div class="left_block">
	<p class="left_number"></p>
</div><div class="right_block">
	<p class="right_number"></p>
</div>

<div class="bottom_block">
	<div class="top_divider">
			<div class="chain_block" style="margin-left: 9.5%">
				<p class="aligncenter">時間：<span class="countdown"></span></p>
			</div>
			<div class="chain_block">
				<p class="aligncenter">分數：<span class="score">0</span></p>
			</div>
			<div class="chain_block">
				<p class="aligncenter">機會：<span class="life">3</span></p>
			</div>
			<div class="chain_block">
				<p class="aligncenter restart">Restart</p>
			</div>
	</div>
</div>

<div class="menu"><p class="inner_text">數字比大小</p></div>
<div class="game_over"><p class="inner_text">Game Over</p><p class="inner_text" style="font-size: 20px;">點一下或按Enter鍵重新開始</p></div>