<div class="left_block">
	<p class="left_number"></p>
</div><div class="right_block">
	<p class="right_number"></p>
</div>

<div class="bottom_block">
	<div class="top_divider">
			<div class="chain_block" style="margin-left: 9.5%">
				<p class="countdown">Time</p>
			</div>
			<div class="chain_block">
				<p>Score</p>
			</div>
			<div class="chain_block">
				<p>Life</p>
			</div>
			<div class="chain_block">
				<p>Restart</p>
			</div>
	</div>
</div>