/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.left_block {
	position: absolute;
	display: block;
	background-color: #F6CECE;
	width: 50%;
	height: 80%;
}

.right_block {
	position: absolute;
	display: block;
	background-color: #CEF6F5;
	width: 50%;
	height: 80%;
	left: 50%;
}

.bottom_block {
	position: absolute;
	display: table;
	background-color: #424242;
	width: 100%;
	height: 20%;
	top: 80%;
}

.top_divider {
	color: white;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.chain_block {
	display: inline-block;
	width: 20%;
	color: white;
	height: 20px;
}

.left_number {
	position: relative;
	text-align: center;
	top: 40%;
	font-size: 70px;
}

.right_number {
	position: relative;
	text-align: center;
	top: 40%;
	font-size: 70px;
}

.game_over {
	display: none;
	position: absolute;
	height: 80%;
	width: 100%;
	background-color: #F5F6CE;
}

.inner_text {
	font-size: 80px;
	text-align: center;
	position: relative;
	top: 35%;
}

.opening_title {
	font-size: 80px;
	text-align: center;
	margin-top: 10%;
}

.start {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 60%;
}

.aligncenter {
	text-align: center;
}

.alignright {
	text-align: right;
}

.bottom_text {
	position: relative;
	font-size: 20px;
}

.bottom_text_2 {
	font-size: 24px;
	margin-top: -15px;
}

.restart {
	top: -25px;
}

.restart:hover {
	color: red;
}

.menu {
	display: block;
	position: absolute;
	background-color: #F5F6CE;
	height: 100%;
	width: 100%;
}

.display_menu {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.score_board {
	display: none;
	position: absolute;
	height: 80%;
	width: 100%;
	background-color: #E4E4E4;
	opacity: 0;
}

.ranking {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.input_form {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.rules {
	border: 1px solid black; 
	width: 30%; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

.ranking_table {
	width: 300px;
}

.invisible {
	opacity: 0;
}

.div_aligncenter {
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

.display_check {
	width: 300px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

@media all and (max-width: 700px) {

	.left_number, .right_number {
		font-size: 30px;
	}
	.bottom_text {
		font-size: 12px;
	}
	.bottom_text_2 {
		font-size: 14px;
	}
	.inner_text, .opening_title {
		font-size: 45px;
	}
	.restart {
		top: -10px;
	}
	.rules {
		width: 50%;
	}
	.display_check {
		width: 150px;
	}
}

@media only screen and (min-width: 1024px) {
	.left_block:hover, .right_block:hover {
		background-color: white;
	}
}
